body {
    background-color: #CDE780;
    margin: 0px;
    }


header {
    background-color: #3d5200;
    padding: 35px;
    text-align: center;
    color: #fff;
    text-transform:uppercase;
    }

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #4c96db;
   }

section {
    float:left;
    width: 70%;
    background-color: #CDE780;
    margin: 0px;
    margin-bottom: 100px;
    }


aside {
    float: right;
    width: 25%;

}

footer {
    clear: both;
    background-color: #3d5200;
    padding: 35px;
    text-align: center;
    color: #fff;
    text-transform:uppercase;
}


